<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WPT Filmstrip</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="mini-dark.min.css">
    <link rel="stylesheet" href="filmstrip.css">
</head>
<body>
    <div id="app">
        <div class="header">
            <h2>
                WPT Filmstrip </small><a v-if="waterfallUrl" :href="waterfallUrl" target="_blank">{{testLabel}}<span class="icon-link"></span></a> 
            </h2>
            <div class="testSelection">
                <input class="testUrl" v-model="testUrl" @change="loadData" placeholder="https://www.webpagetest.org/result/181122_MY_testid" />
                <button type="button" @click="loadData" class="primary">Load Test</button>
                <label>Run:</label>
                <select v-model="selectedRun" @change="updateTestData">
                    <option v-for="i in availableRuns" :value="i">{{i}}</option>
                </select>
                <label>Step:</label>
                <select v-model="selectedStep" @change="updateTestData">
                    <option v-for="(name, index) in availableSteps" :value="index + 1">{{name}}</option>
                </select>
                <div class="button-group">
                    <button @click="showAnimation=true" :class="{primary: showAnimation}">Animation</button>
                    <button @click="showAnimation=false" :class="{primary: !showAnimation}">Filmstrip</button>
                </div>
            </div>
        </div>

        <main>
            <div v-if="loading" class="spinner"></div>
            <p v-else-if="error" class="card error">{{ error }}</p>
            <filmstrip-animation v-else-if="showAnimation && stepData" :step-data="stepData" :timings="timings"></filmstrip-animation>
            <filmstrip-view v-else-if="stepData" :step-data="stepData" :timings="timings"></filmstrip-view>
        </main>

        <div class="collapse" v-if="timings.length">
            <input type="checkbox" id="collapse-metrics" aria-hidden="true">
            <label for="collapse-metrics" aria-hidden="true">Show Metrics</label>
            <div class="card fluid">
                <table class="horizontal">
                    <thead>
                        <tr>
                            <th v-for="timing in timings">{{ timing.name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td v-for="timing in timings">{{ timing.value.toFixed(3) }}s</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="framePreload">
            <img v-for="url in frameImages" :src="url" />
        </div>
    </div>
    <script src="filmstrip.js"></script>
</body>
</html>